body{ 
    background-color:#f7f5f3;
    margin: 30px;
    padding: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'

}

#texto-principal{
    color:#9b153b;
    text-align: center;
    font-size: 55px;
}
h2{
    color: #3b1922; 
    text-align: center;
    font-size: 50px;
}

p{
    color:black;
    text-align: justify;
    font-size: 20px;
}


.imgmenor{
    width: 40% ; /*largura*/
    display: block;
    margin: auto;
}
#gatoirritado{
    width: 30% ; /*largura*/
    display: block;
    margin: auto;
}

.cabecalho{
    background-color: #41393b;
}