body{ background-color:#a69e80
}


h1{
    color: #e7a97e;
    text-align: center;
    font-size: 50px;
}
h2{
    color:#e7a97e;
    text-align: center;
    font-size: 25px;
}

p{
    color:black;
    text-align: justify;
    font-size: 20px;
}

{ 
    color:darksalmon;
}