body{ background-color: #e0ba9b
}


h1{
    color:#3b1922;
    text-align: center;
    font-size: 50px;
}
h2{
    color: #3b1922;
    text-align: center;
    font-size: 25px;
}

p{
    color:black;
    text-align: justify;
    font-size: 20px;
}

{ 
    color:darksalmon;
}